<TecoConfiguration xmlns="http://www.tecomat.com">
  <Configuration version="2019.2b" system="FOXTROT">
    <Global>
      <Selector left="462" top="164" width="996" height="713" maximized="false" params="0"/>
      <Editor left="319" top="130" width="1428" height="780" maximized="false"/>
    </Global>
    <Device xmlns="http://www.tecomat.com" alias="Central Unit" rack="0" position="0" idString="CP-1000 A7H0900 G2 1549 TECO" statLoc="%S100" validStat="A2" expanded="true">
      <Info>
        <ProductCode>1000</ProductCode>
        <ProductName>CP-1000</ProductName>
        <VendorID>00000000</VendorID>
        <DeviceGroup>CPU</DeviceGroup>
        <Descriptor>1000_CP-1000.tdd</Descriptor>
      </Info>
      <Objects>
        <Data/>
      </Objects>
      <SerialChannels expandable="3">
        <Channel Options="PC PLC UNI MPC MDB PFB" Name="CH1" SysMap="CH1" SysMapCode="0101" LAddr="0101"/>
      </SerialChannels>
      <Ethernets>
        <Ethernet Name="ETH1" LAddr="E1" expanded="true">
          <Channel Options="PC" Name="SOCK0"/>
          <Channel Options="PLC" Name="SOCK1"/>
          <Channel xmlns="http://www.tecomat.com" Mode="PLCx" Alias="Channel of PLCx" enabled="true" expanded="true" Options="PLCx" Name="PLCx0" LAddr="06E1">
            <Info>
              <Descriptor>PLCx_ETH.tdd</Descriptor>
            </Info>
            <Objects xmlns="http://www.tecomat.com">
              <Aliases>
                <ObjectAlias name="PLCx_{CHANNEL}_ADR3_TX" public="false" publicAPI="false" userDef="false">PLC3</ObjectAlias>
                <ObjectAlias name="PLCx_{CHANNEL}_ADR1_RX" public="false" publicAPI="false" userDef="false">PLC1_Curtains</ObjectAlias>
              </Aliases>
              <Data>
                <ObjectData name="r{RACK}_p{POSITION}_Settings_PLCx_{CHANNEL}.ComAddress">03</ObjectData>
                <ObjectData name="r{RACK}_p{POSITION}_Settings_PLCx_{CHANNEL}.ZoneSize">EE00</ObjectData>
              </Data>
              <Notes>
                <ObjectNote name="r{RACK}_p{POSITION}_Module_PLCx_{CHANNEL}">PLCx_ETH declaration</ObjectNote>
              </Notes>
            </Objects>
            <Interfaces/>
            <Editor>
              <ExpansionMaps>
                <ExpansionMap name="r0_p0_Settings_PLCx_ETH1_PLCx0">11</ExpansionMap>
              </ExpansionMaps>
            </Editor>
            <Network configFile="..\..\Networks.xml" id="0" addr="3" crc="15600"/>
          </Channel>
          <Channel Options="BAC" Name="SOCK3"/>
          <Channel Options="UNI" Name="SOCK4"/>
          <Channel Options="UNI" Name="SOCK5"/>
          <Channel Options="UNI" Name="SOCK6"/>
          <Channel Options="UNI" Name="SOCK7"/>
          <Channel Options="UNI" Name="SOCK8"/>
          <Channel Options="UNI" Name="SOCK9"/>
          <Channel Options="UNI" Name="SOCK10"/>
          <Channel Options="UNI" Name="SOCK11"/>
        </Ethernet>
      </Ethernets>
      <Piggybacks expanded="true">
        <Piggyback xmlns="http://www.tecomat.com" slot="0"/>
      </Piggybacks>
      <Interfaces>
        <Interface Class="TCL2" SubClass="INTERN" alias="Internal bus" rackOffset="0" busID="0" expanded="true">
          <Peripheries>
            <Device xmlns="http://www.tecomat.com" alias="CIB Master" rack="0" position="2" default="true" expanded="true" statLoc="%S102" validStat="A2">
              <Info>
                <ProductCode>1141</ProductCode>
                <ProductName>CF-1140</ProductName>
                <VendorID>00000000</VendorID>
                <DeviceGroup>CFM</DeviceGroup>
                <Descriptor>1141_CF-1140.tdd</Descriptor>
              </Info>
              <Objects>
                <Data/>
              </Objects>
              <SerialChannels/>
              <Ethernets/>
              <Piggybacks/>
              <Interfaces>
                <Interface Class="CIB" SubClass="UNDEF" rackOffset="0" busID="8">
                  <Peripheries/>
                </Interface>
              </Interfaces>
              <Editor/>
            </Device>
            <Device xmlns="http://www.tecomat.com" alias="CIB Master" rack="0" position="3" default="true" statLoc="%S103" validStat="A2" expanded="true">
              <Info>
                <ProductCode>1141</ProductCode>
                <ProductName>CF-1140</ProductName>
                <VendorID>00000000</VendorID>
                <DeviceGroup>CFM</DeviceGroup>
                <Descriptor>1141_CF-1140.tdd</Descriptor>
              </Info>
              <Objects>
                <Data/>
              </Objects>
              <SerialChannels/>
              <Ethernets/>
              <Piggybacks/>
              <Interfaces>
                <Interface Class="CIB" SubClass="UNDEF" rackOffset="1" busID="9">
                  <Peripheries/>
                </Interface>
              </Interfaces>
              <Editor/>
            </Device>
            <Device xmlns="http://www.tecomat.com" rack="0" position="5" default="true" statLoc="%S105" validStat="A2">
              <Info>
                <ProductCode>1061</ProductCode>
                <ProductName>IR-1061</ProductName>
                <VendorID>00000000</VendorID>
                <DeviceGroup>IO</DeviceGroup>
                <Descriptor>1061_IR-1061.tdd</Descriptor>
              </Info>
              <Objects>
                <Data/>
              </Objects>
              <SerialChannels/>
              <Ethernets/>
              <Piggybacks/>
              <Interfaces/>
              <Editor/>
            </Device>
          </Peripheries>
        </Interface>
        <Interface Class="TCL2" SubClass="EXTERN" rackSize="4" alias="External bus" rackOffset="0" busID="0">
          <Peripheries/>
        </Interface>
        <Interface Class="RF2" SubClass="UNDEF" alias="RFox2 bus" rackOffset="0" busID="40" Icon="rf2_interface" ChannelRefOnly="true">
          <Peripheries/>
        </Interface>
      </Interfaces>
      <Editor/>
      <TextInfo>CH1  : PC  A-  0 S-38_4 T-10      CTS-off B-  0  8-E-1 
       interface RS-232
CH2  : UNI A-  0 S-38_4 TR- 4 TT- 4 RTS-auto     8-N-1 
       interface MR-0106 01H0500 J7 0324 TECO   
CH3  : UNI A-  0 S-38_4 TR- 4 TT- 4 RTS-auto     8-N-1 
       interface MR-0106 01H0500 J7 0324 TECO   
CH4  : off                                             
       interface MR-0106 01H0500 J7 0324 TECO   
ETH1 : IP = 192.168.000.015  IM = 255.255.255.000    
       GW = 192.168.000.001  DNS= 008.008.008.008    
       PC | MDB            | UNI-TCP master          
       DHCP off
       interface Ethernet 10/100Mb  MAC: 00-0A-14-03-46-0D
TecoRoute : is defined
       Server   : route.tecomat.com:8080
       Plc name : Teco_Case
EEPROM off
DATABOX 512KB
memory card 3773MB
application profiles:
TXF68990 MOSAIC SINGLE LICENCE
Switch 1000 v4.0  CP-1000 v10.7
Boot CP1000 v4.0  Testy CP-1000 v3.0  system_WWW v3.3</TextInfo>
    </Device>
  </Configuration>
</TecoConfiguration>
